body{
    background: radial-gradient(#527e76,#006769);
    width: 100%;
    overflow-x: hidden;
    color: white;
}

.container {
    background-color: rgb(0, 0, 0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    outline: 1000px solid rgb(0, 0, 0,0.1);
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

a {
    text-decoration: none;
}

.navigation {
    position: sticky;
    top: 0;
    background-color: rgb(64, 165, 120,0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 50px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    mix-blend-mode: color-dodge;
}

.logo span {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to right,#E6FF94,#9DDE8B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color: #FBF8DD;
    font-weight: bold;
}

.sideprofile {
    display: flex;
    align-items: center;
    justify-content: end;
}

.sideprofile img {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 100%;
}

.sideprofile span {
    padding-left: 5px;
    color: #E9C874;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    font-size: 1.5rem;
    color: #FBF8DD;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    max-height: 0px;
    right: 0px;
    width: 130px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 0 rgba(0,0,0,0.75);
    display: grid;
    place-items: center;
    background-color: #d9d9d9;
    overflow: hidden;
    transition: all .25s ease-in-out;
    z-index: 1000;
}

.dropdown.drop {
    box-shadow: -5px 6px 13px -3px rgba(0,0,0,0.75);
    max-height: 300px;
}

.dropdown a{
    text-decoration: none;
    color: transparent;
    font-family: 'Poppins',sans-serif ;
    font-weight: 600;
    text-shadow: 1px 1px black;
    transition: all 0.25s ease-in-out;
}

.dropdown a:hover {
    padding-right: 10px;
}

.animated-link {
    position: relative;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
}

.animated-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: #E9C874;
    transition: width 0.4s ease, right 0.4s ease;
}

.animated-link:hover::after {
    width: 100%;
    left: 0;
}

.dashcontent {
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    box-shadow: -2px 2px 5px 0px rgba(47,150,155,0.75);
    border: 2px solid #2f969b5b;
    width: 300px;
    height: 200px;
}

.dashcontent p {
    position: relative;
    top: 30px;
    right: 55px;
    font-size: 1.5rem;
}

.dashcontent:nth-child(3) p {
    position: relative;
    right: 85px;
}

.dashcontent:nth-child(4) p {
    position: relative;
    top: 33px;
    right: 35px;
}

.dashcontent h2 {
    position: relative;
    top: 40px;
    right: 110px;
    font-size: calc(1.5rem + 1vw); /* Responsive font size */
    min-width: 50px; /* Minimum width to ensure readability */
    max-width: 100%; /* Allow full width */
    word-wrap: break-word;
}

.dashcontent img {
    margin-top: 10px;
    margin-left: 200px;
    height: 50px;
}

.greet {
    display: flex;
    border: 2px solid #2f969b5b;
    border-radius: 30px;
    height: 150px;
    margin: 20px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    color: white;
}

.EOTM{
    border: 2px solid #2f969b5b;
    border-radius: 15px;
    height: 325px;
    width: 645px;
}


.thead-dark {
    background-color: #2f969b5b;
}

.taskchart-container {
    position: relative;
    top: 30px;
    width: 100%;
    border: 2px solid #2f969b5b;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 300px;
}

.button-container {
    display: flex;
    margin-left: 40px;
    margin-bottom: 10px;
    box-shadow: #E9C874;
}

.button-container button {
    position: relative;
    left: 800px;
    border: none;
    padding: 10px 5px;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #2f969b;
    color: white;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    border-radius: 10px;
    padding: 30px;
    background-color: transparent;
}

.chart {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.chart text {
    font-size: 50px;
}

.bar {
    margin: 0 5px;
    background-color: #006769;
    border-radius: 10px 10px 0 0;
    position: relative;
    flex: 1;
}

.bar span {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    font-size: 1rem;
}

.bar::after {
    content: attr(data-value);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #000000;
}

@media only screen and (max-width: 1366px){
    .dashcontent{
        width: 250px;
        height: 250px;
    }

    .dashcontent img{
        position: relative;
        right: 30px;
    }

    .dashcontent h2{
        position: relative;
        top: 85px;
        right: 95px;
    }

    .dashcontent p{
        position: relative;
        top: 75px;
        right: 45px;
    }

    .dashcontent:nth-child(3) p {
        position: relative;
        right: 70px;
    }
    
    .dashcontent:nth-child(4) p {
        position: relative;
        top: 75px;
        right: 25px;
    }
}

@media only screen and (max-width: 1199px){
    .dashcontent{
        margin-top: 15px;
    }
    .bar span {
        font-size: 10px;
    }

    .bar::after {
        font: 10px;
    }

}

@media only screen and (max-width: 1024px){
    .dashcontent{
        width: 200px;
        height: 200px;
    }

    .dashcontent img {
        position: relative;
        right: 70px;
        max-width: 40px;
    }

    .dashcontent h2{
        position: relative;
        top: 60px;
        right: 70px;
        font-size: 1.75rem;
    }

    .dashcontent p{
        font-size: 1.1rem;
        top: 60px;
        right: 30px;
    }

    .dashcontent:nth-child(3) p {
        position: relative;
        right: 45px;
    }

    .dashcontent:nth-child(4) p {
        top: 60px;
        right: 15px;
    }
}

@media only screen and (max-width: 991px){
    .bar span {
        font-size: 9px;
    }
}

@media only screen and (max-width: 767px){
    .bar span {
        font-size: 6px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 767px){
    .dashcontent{
        width: 200px;
        height: 200px;
    }
}

